html {
    background-image: url(../assets/background.png);
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

body {
    align-items: center;
    margin: 0;
}

#tetris {
    width: 360px;
    height: 630px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 150px rgba(255, 255, 255, 0.732);
}

#tetris div {
    width: 30px;
    height: 30px;
}

.block {

    background-image: url(../assets/block.jpg);
    background-size: cover;

}

.blue {
    background-image: url(../assets/blueBlock.png);
    background-size: cover;
}

.green {
    background-image: url(../assets/greenBlock.png);
    background-size: cover;

}

.orange {
    background-image: url(../assets/orangeBlock.png);
    background-size: cover;

}

.purple {
    background-image: url(../assets/purpleBlock.png);
    background-size: cover;

}

.red {
    background-image: url(../assets/redBlock.png);
    background-size: cover;

}

.cyan {
    background-image: url(../assets/cyanBlock.png);
    background-size: cover;

}

.yellow {
    background-image: url(../assets/yellowBlock.png);
    background-size: cover;

}



.fixed {
    filter: brightness(90%);
}

.border {
    filter: brightness(100%);
    background-color: transparent;
    background-image: url(../assets/border.png);
    object-fit: contain;
    background-position: center;
    background-size: cover;

}

h1 {
    color: #f6fd3f;
    text-align: center;
    margin-top: 20px;
    font-size: 5em;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 0%;
    text-shadow: 3px 3px red;


}

h2 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2em;

    color: #f6fd3f;
    position: absolute;
    text-align: center;
    top: 3%;
    left: 10%;
}

#score {
    color: #87d76f;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

.pauser {
    display: flex;
    position: absolute;
    top: 15%;
    left: 10%;
}

.container {
    height: 100px;
    width: 100px;
    position: relative;
}

.centered {
    background-color: transparent;
    width: 60px;
    height: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


main {
    display: flex;
    margin-left: calc(50% - 180px);
    margin-top: 5%
}

#next-tetris {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#next-tetris div {
    width: 30px;
    height: 30px;
}

.moveButtons {
    visibility: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-template-rows: auto auto;
    gap: 10px;
}


.moveButtons button {
    background-color: transparent;
    color: #87d76f;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

/* .moveButtons button:hover {
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
} */

.moveButtons button:active {
    box-shadow: 0 0 5px red;
    text-shadow: #f6fd3f;
}

.pause {
    background-image: url(../assets/pause.png);
    background-repeat: no-repeat;
    background-position: center;
}

.play {
    background-image: url(../assets/resume.png);
    background-repeat: no-repeat;
    background-position: center;


}

#right-button, #left-button, #down-button, #up-button{
    
    background-image: url(../assets/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#right-button{
    width: 60px;
    height: 50px;
}

#left-button{
    width: 60px;
    height: 50px;
    transform: rotate(180deg);
}

#down-button{
    height: 60px;
    width: 50px;
    transform: rotate(90deg);
}

#up-button{
    height: 60px;
    width: 50px;
    transform: rotate(-90deg);
}


@media (min-width: 830px) and (max-width: 1300px) {
    #score {
        display: block;
    }

    h2{
        left: auto;
        top: 40%;
        right: 15%;
    }
}

@media (max-width: 830px) {
    #tetris {
        width: 300px;
        height: 525px;
    }

    #tetris div {
        width: 25px;
        height: 25px;
    }   

    #next-tetris {
         width: 100px;
         height: 100px;
    }

    #next-tetris div {
        width: 20px;
        height: 20px;
    }

    .pauser{
        position: absolute;
        background-size: cover;
        top: 30%;
        right: 7%;
        left: auto;
    }

    #score {
        display: block;
    }

    h2{
        font-size: 1.5em;
        left: auto;
        top: 40%;
        right: 10%;
    }

    h1{
        font-size: 4em;
    }
    .moveButtons {
        margin: 10%;
        visibility: visible;
    }

}

@media (max-width: 500px) {
    #tetris {
        width: 240px;
        height: 420px;
    }
 
    #tetris div {
        width: 20px;
        height: 20px;
    }

    #next-tetris {
        width: 80px;
        height: 80px;
    }

    #next-tetris div {
        width: 16px;
        height: 16px;
    }
    .moveButtons {
        margin: 10%;
        visibility: visible;
    }

    #score {
        display: block;
    }

    .pauser{
        position: absolute;
        background-size: cover;
        top: 30%;
        right: 7%;
        left: auto;
    }

    h2{
        font-size: 1.5em;
        left: auto;
        top: 40%;
        right: 10%;
    }

    h1{
        font-size: 3em;
    }
}