html {
    background-image: url(Browser\ Games\ -\ Nealfun\ Games\ -\ 99\ Accuracy\ Background.png);
    margin: 0;
}

body {
    align-items: center;
    margin: 0;
}

#tetris {
    width: 360px;
    height: 630px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 150px rgba(255, 255, 255, 0.732);
}

#tetris div {
    width: 30px;
    height: 30px;
    /* background-image: url(grid.png); */


}

.block {

    background-image: url(block.jpg);

}

.blue {
    background-image: url(blueBlock.png);
}

.green {
    background-image: url(greenBlock.png);
}

.orange {
    background-image: url(orangeBlock.png);
}

.purple {
    background-image: url(purpleBlock.png);
}

.red {
    background-image: url(redBlock.png);
}

.cyan {
    background-image: url(cyanBlock.png);
}

.yellow {
    background-image: url(yellowBlock.png);
}

#score {
    color: #87d76f;
    font-size: 2em;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}


.fixed {
    filter: brightness(90%);
}

.border {
    filter: brightness(100%);
    background-color: transparent;
    background-image: url(border.png);
    object-fit: contain;
    background-position: center;
}

h1 {
    color: #f6fd3f;
    text-align: center;
    margin-top: 20px;
    font-size: 5em;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 0%;
    text-shadow: 3px 3px red;


}

h2 {
    color: #f6fd3f;
    position: absolute;
    text-align: center;
    top: 3%;
    left: 10%;
}

.pauser{
    display: flex;
    position: absolute;
    top: 15%;
    left: 10%;
}
.container {
    height: 100px;
    width: 100px;
    position: relative;
}

.centered {
    width: 100px;
    height: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


main {
    display: flex;
    margin-left: calc(50% - 180px);
    margin-top: 5%
}

#next-tetris {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#next-tetris div {
    width: 30px;
    height: 30px;
}

.moveButtons {
    visibility: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-template-rows: auto auto;
    gap: 10px;
}


.moveButtons button {
    background-color: transparent;
    color: #87d76f;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.moveButtons button:hover {
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.moveButtons button:active {
    text-shadow: none;
}

.pause{
    background-image: url(pause.png) ;
}
.play{
    background-image: url(play.png) ;
}
#start-button {
    /* color: #87d76f;
    border: none;
    cursor: pointer; */
}

@media (max-width: 500px) {
    .moveButtons {
        visibility: visible;
    }
}