#tetris{
    width: 200px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

#tetris div{
    width: 20px;
    height: 20px;

}

.block{
    width: 20px;
    height: 20px;
    background-color: #000;

}

.fixed{
    background-color: #666;
}